@font-face {
            font-family: DINPro-Bold;
            src: url(fonts/DINPro-Bold_13934.ttf);
            }

@font-face {
    font-family: DINPro-Regular;
    src: url(fonts/DINPro-Regular_13937.ttf);
    }